.topnav {
  margin: 0;
  padding: 0;
  /* top right bottom left*/
  overflow: hidden;
  position: -webkit-sticky;
  /*Safari Browser*/
  position: sticky;
  top: 0 !important;
  background-color: #ecf0f1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topnav img {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  padding-left: 0px;
}

p.verses {
  color: #000 !important;
  float: right;
  display: block;
  padding: 14px 0px 14px 0px;
  margin-right: 6px;
  text-align: right;
  font-family: 'PT Sans', sans-serif;
}

@media screen and (max-width:580px) {
  p.verses {
    display: inline-block;
    overflow: hidden;
    padding: 14px 16px;

  }

  .topnav img {
    float: none;
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
    padding: 0 !important;
  }

  .topnav {
    width: auto;
    padding: 0 !important;
    background-color: transparent !important;
    background: white;
  }

  .container {
    height: 300px !important;

  }
}

.container {
  width: 100%;
  height: 400px;
  background-image: url(../res/cross960_720.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-size: cover;
}

.textTitle {
  font-family: 'PT Sans', sans-serif;
  position: relative;
  width: fit-content;
  color: #fff;
  overflow: hidden;
  width: -moz-fit-content;
  height: auto;
  transform: translate(-50%, -50%);
  padding: 15px;
  top: 50%;
  left: 50%;
  letter-spacing: 10px;
  font-size: 4vw;
}

.tamil {
  font-family: 'Mukta Malar', sans-serif !important;
  overflow: hidden;
  height: auto;
  width: fit-content;
  position: relative;
  vertical-align: middle;
  left: 40%;
  color: #fafafa;
  top: 50%;
  font-size: 3vw;
  width: -moz-fit-content;
}

.card {
  display: block;
  align-content: center;
}

.tamilText , .tamilText.t1{
  font-family: 'Mukta Malar', sans-serif;
  text-align: center;
}
article, h1{
font-family: 'PT Sans', sans-serif;
text-align: center;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.divide-almost {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: initial;
  align-self: auto;
  text-align: center;
  margin-left: -15px;
}

.divide-quater {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  align-self: auto;
  text-align: center;
}
.Support{
  line-height: 50px;
  border-radius: 25px;
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 0.9rem;
  
  background-color: aliceblue;
}
.Support img{
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: left;
}
.fa-facebook-official,.fa-instagram,.fa-twitter,.fa-whatsapp{
  font-size: 34px;
  color: #000;
  padding: 24px;
}
.socialbar{
  padding-top: 24px;
  text-align: center;
  display: block;
}
.fa-facebook-official:hover{
  color: #44619D!important;
}
.fa-instagram:hover{
  color: #EB1E49!important;
}
.fa-whatsapp:hover{
  color:#00E676!important;
}
.fa-twitter:hover{
  color: #1DA1F2!important;
}