  body,
  html {
    background-color: #dfe6e9;
    scroll-behavior: smooth;
  }

  .topnav {
    margin: 0;
    padding: 0;
    /* top right bottom left*/
    overflow: hidden;
    position: -webkit-sticky;
    /*Safari Browser*/
    position: sticky;
    top: 0 !important;
    background-color: #ecf0f1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .topnav img {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    padding-left: 0px;
  }

  p.verses {
    color: #000!important;
    float: right;
    display: block;
    padding: 14px 0px 14px 0px;
    margin-right: 6px;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
  }

  @media screen and (max-width:580px) {
    p.verses {
      display: inline-block;
      overflow: hidden;
      padding: 14px 16px;

    }

    .topnav img {
      float: none;
      overflow: hidden;
      background-repeat: no-repeat;
      width: 100%;
      padding: 0 !important;
    }

    .topnav {
      width: auto;
      padding: 0 !important;
      background-color: transparent!important;
      background: white;
    }

    .row {
      position: relative;
      display: block!important;
      width: 100%;
    }
    .callNumber1 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      align-self: auto;
      text-align: center;
      padding: 10px 0;
    }
  
    .callNumber2 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      align-self: auto;
      padding: 10px 0;
      text-align: center;
    }
  }

  #BodyContent {
    padding-top: 12px;
  }

  .ButtonContainer {
    display: block;
    float: right;
    width: 100%;
  }

  button.Donate {
    float: right;
    padding: 15px 32px;
    text-align: center;
    margin: 4px 2px;
    cursor: grabbing;
    border: 2px solid #4CAF50;
    background: #fafafa;
  }

  button.Donate:hover {
    background: #4CAF50;
    color: #000;
  }

  button.about {
    float: left !important;
    display: block;
    padding: 15px 32px;
    text-align: center;
    margin: 4px 2px;
    cursor: grabbing;
    border: 2px solid #008CBA;
    background: #fafafa;
  }

  button.about:hover {
    background: #008CBA;
    color: #000;
  }

  .container {
    padding: 0.01em 16px;
    letter-spacing: 0.1rem;
    font-family: 'PT Sans', sans-serif;
  }

  .container article {
    display: block;
    text-align: center;
  }

  .row {
    position: relative;
    display: flex;
    width: 100%;
  }

  .callNumber1 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    align-self: auto;
    text-align: center;
  }

  .callNumber2 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    align-self: auto;
    text-align: center;
  }
  i.fa-phone{
    font-size: 24px;
  }
  .fa-facebook-official,.fa-instagram,.fa-twitter,.fa-whatsapp{
    font-size: 34px;
    background-color: #dfe6e9;
    color: #000;
    padding: 24px;
  }
  .socialbar{
    padding-top: 24px;
    text-align: center;
    display: block;
  }
  .fa-facebook-official:hover{
    color: #44619D!important;
  }
  .fa-instagram:hover{
    color: #EB1E49!important;
  }
  .fa-whatsapp:hover{
    color:#00E676!important;
  }
  .fa-twitter:hover{
    color: #1DA1F2!important;
}
a{
  text-decoration: none!important;
  color: #222;
}